/* Variables */
html {
    --text-base-size: 1rem;
    --text-scale-ratio: 1.3;

    /* Sizes */
    --text-xs: calc(
        (var(--text-base-size) / var(--text-scale-ratio)) /
            var(--text-scale-ratio)
    );
    --text-s: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-m: calc(
        var(--text-s) * var(--text-scale-ratio) * var(--text-scale-ratio)
    );
    --text-l: calc(var(--text-m) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-l) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));

    /* Heading */
    --h1-font-size: var(--text-xxxl);
    --h2-font-size: var(--text-xxl);
    --h3-font-size: var(--text-xl);
    --h4-font-size: var(--text-l);
    --h5-font-size: var(--text-m);
    --h6-font-size: var(--text-s);
}

/* Basic */
html {
    font-size: var(--global-font-size);
    background-color: var(--global-background);
    overflow-y: scroll;
}

body {
    font-size: 1rem;
    line-height: var(--global-line-height);
    font-weight: 400;
    font-family: var(--global-font-family);
    color: var(--global-color);
}

/* Link
 ========================================================================== */
a {
    text-decoration: none;
    position: relative;
    color: var(--global-link-color);
    z-index: 1;
}

a:active,
a:hover {
    outline: none;
}

a:hover,
a:focus {
    color: var(--global-link-color-hover);
}

a.link::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--global-link-color);
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a.link:hover::before,
a.link:focus::before {
    transform: translate(-50%, 0) scaleX(1);
}

/* Headings
 ========================================================================== */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 var(--global-margin) 0;
    font-weight: 600;
    line-height: 1.1;
}

* + h1,
* + .h1,
* + h2,
* + .h2,
* + h3,
* + .h3,
* + h4,
* + .h4,
* + h5,
* + .h5,
* + h6,
* + .h6 {
    margin-top: var(--global-margin);
}

h1,
.h1 {
    font-size: var(--h1-font-size);
}

h2,
.h2 {
    font-size: var(--h2-font-size);
}

h3,
.h3 {
    font-size: var(--h3-font-size);
}

h4,
.h4 {
    font-size: var(--h4-font-size);
}

h5,
.h5 {
    font-size: var(--h5-font-size);
}

h6,
.h6 {
    font-size: var(--h6-font-size);
}

/* Margins */
/* ================================================================ */

p,
ul,
ol,
dl,
pre,
address,
fieldset,
figure {
    margin: 0 0 var(--global-margin) 0;
}

* + p,
* + ul,
* + ol,
* + dl,
* + pre,
* + address,
* + fieldset,
* + figure {
    margin-top: var(--global-margin);
}

/* Media */
/* ================================================================ */

canvas,
img,
video {
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
