/* Variables */
.button {
    /* Button Default */
    --button-color: var(--global-color-primary);
    --button-background: var(--global-background);
    --button-color-hover: var(--button-background);
    --button-background-hover: var(--button-color);

    /* Button Primary */
    --button-primary-color: var(--global-color-inverse);
    --button-primary-background: var(--global-background-primary);
    --button-primary-color-hover: var(--button-primary-background);
    --button-primary-background-hover: var(--button-primary-color);
    --button-primary-color-active: var(--button-primary-color);
    --button-primary-background-active: var(--button-primary-background);

    --button-padding-vertical: 0.5em;
    --button-padding-horizontal: 1em;
    --button-border-radius: var(--global-border-radius);
    --button-box-shadow: var(--global-box-shadow);

    /* Button Link */
    --button-link-color: var(--global-link-color);
    --button-link-color-hover: var(--global-link-color-hover);
    --button-link-hover-text-decoration: none;
    --button-link-line-height: var(--global-line-height);
}

.button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.button {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    margin: 2px 0;
    border: solid 1px var(--button-color);
    border-radius: var(--button-border-radius);
    padding: var(--button-padding-vertical) var(--button-padding-horizontal);
    color: var(--button-color);
    background-color: var(--button-background);
    transition: 0.3s ease;
    transition-property: color, background-color, filter, box-shadow;
}

.button:hover {
    color: var(--button-color-hover);
    border-color: var(--button-background-hover);
    background-color: var(--button-background-hover);
}

.button::-moz-focus-inner {
    border: none;
}

/* Focus */
.button:focus {
    outline: none;
    box-shadow: var(--button-box-shadow);
}

/* Active */
.button:active {
    filter: saturate(150%);
}

/* Button Primary 
 ==========================================================================*/
.button__primary {
    color: var(--button-primary-color);
    background-color: var(--button-primary-background);
}

/* Hover */
.button__primary:hover {
    color: var(--button-primary-color-hover);
    border-color: var(--button-primary-color-hover);
    background-color: var(--button-primary-background-hover);
}

/* Focus */

.button__primary:focus {
    color: var(--button-primary-color-hover);
    background-color: var(--button-primary-background-hover);
}

/* Active */
.button__primary:active,
.button__primary.item__active {
    color: var(--button-primary-color-active);
    background-color: var(--button-primary-background-active);
}

/* Button Link 
 ==========================================================================*/
.button__link {
    background: none;
    padding: 0;
    border: none;
    min-height: auto;
    margin: 0;
    line-height: var(--button-link-line-height);
    color: var(--button-link-color);
}

/* Hover */
.button__link:hover {
    color: var(--button-link-color-hover);
    background: none;
}

/* Focus */

.button__link:focus {
    color: var(--button-link-color-hover);
    background: none;
    box-shadow: none;
}

/* Active */
.button__link:active,
.button__link.item__active {
    color: var(--button-link-color-hover);
    background: none;
}
