.flex {
    display: flex;
}
.flex__inline {
    display: inline-flex;
}

/*
 * Remove pseudo elements created by micro clearfix as precaution
 */

.flex::before,
.flex::after,
.flex__inline::before,
.flex__inline::after {
    display: none;
}

/* Alignment
 ========================================================================== */

/*
 * Align items along the main axis of the current line of the flex container
 * Row: Horizontal
 */

.flex__left {
    justify-content: flex-start;
}
.flex__center {
    justify-content: center;
}
.flex__right {
    justify-content: flex-end;
}
.flex__between {
    justify-content: space-between;
}
.flex__around {
    justify-content: space-around;
}

/* xs */
@media (--xs-min) {
    .flex__left\@xs {
        justify-content: flex-start;
    }
    .flex__center\@xs {
        justify-content: center;
    }
    .flex__right\@xs {
        justify-content: flex-end;
    }
    .flex__between\@xs {
        justify-content: space-between;
    }
    .flex__around\@xs {
        justify-content: space-around;
    }
}

/* s */
@media (--s-min) {
    .flex__left\@s {
        justify-content: flex-start;
    }
    .flex__center\@s {
        justify-content: center;
    }
    .flex__right\@s {
        justify-content: flex-end;
    }
    .flex__between\@s {
        justify-content: space-between;
    }
    .flex__around\@s {
        justify-content: space-around;
    }
}

/* m */
@media (--m-min) {
    .flex__left\@m {
        justify-content: flex-start;
    }
    .flex__center\@m {
        justify-content: center;
    }
    .flex__right\@m {
        justify-content: flex-end;
    }
    .flex__between\@m {
        justify-content: space-between;
    }
    .flex__around\@m {
        justify-content: space-around;
    }
}

/* l */
@media (--l-min) {
    .flex__left\@l {
        justify-content: flex-start;
    }
    .flex__center\@l {
        justify-content: center;
    }
    .flex__right\@l {
        justify-content: flex-end;
    }
    .flex__between\@l {
        justify-content: space-between;
    }
    .flex__around\@l {
        justify-content: space-around;
    }
}

/* xl */
@media (--xl-min) {
    .flex__left\@xl {
        justify-content: flex-start;
    }
    .flex__center\@xl {
        justify-content: center;
    }
    .flex__right\@xl {
        justify-content: flex-end;
    }
    .flex__between\@xl {
        justify-content: space-between;
    }
    .flex__around\@xl {
        justify-content: space-around;
    }
}

/* xxl */
@media (--xxl-min) {
    .flex__left\@xxl {
        justify-content: flex-start;
    }
    .flex__center\@xxl {
        justify-content: center;
    }
    .flex__right\@xxl {
        justify-content: flex-end;
    }
    .flex__between\@xxl {
        justify-content: space-between;
    }
    .flex__around\@xxl {
        justify-content: space-around;
    }
}

/*
 * Align items in the cross axis of the current line of the flex container
 * Row: Vertical
 */

.flex__stretch {
    align-items: stretch;
}
.flex__top {
    align-items: flex-start;
}
.flex__middle {
    align-items: center;
}
.flex__bottom {
    align-items: flex-end;
}

/* Direction
 ========================================================================== */

.flex__row {
    flex-direction: row;
}
.flex__row__reverse {
    flex-direction: row-reverse;
}
.flex__column {
    flex-direction: column;
}
.flex__column__reverse {
    flex-direction: column-reverse;
}

/* Wrap
 ========================================================================== */

.flex__nowrap {
    flex-wrap: nowrap;
}
.flex__wrap {
    flex-wrap: wrap;
}
.flex__wrap__reverse {
    flex-wrap: wrap-reverse;
}

/*
 * Aligns items within the flex container when there is extra space in the cross-axis
 * Only works if there is more than one line of flex items
 */

.flex__wrap__stretch {
    align-content: stretch;
}
.flex__wrap__top {
    align-content: flex-start;
}
.flex__wrap__middle {
    align-content: center;
}
.flex__wrap__bottom {
    align-content: flex-end;
}
.flex__wrap__between {
    align-content: space-between;
}
.flex__wrap__around {
    align-content: space-around;
}

/* Item ordering
 ========================================================================== */

/*
 * Default is 0
 */

.flex__first {
    order: -1;
}
.flex__last {
    order: 99;
}

/* xs */
@media (--xs-min) {
    .flex__first\@xs {
        order: -1;
    }
    .flex__last\@xs {
        order: 99;
    }
}

/* s */
@media (--s-min) {
    .flex__first\@s {
        order: -1;
    }
    .flex__last\@s {
        order: 99;
    }
}

/* m */
@media (--m-min) {
    .flex__first\@m {
        order: -1;
    }
    .flex__last\@m {
        order: 99;
    }
}

/* l */
@media (--l-min) {
    .flex__first\@l {
        order: -1;
    }
    .flex__last\@l {
        order: 99;
    }
}

/* xl */
@media (--xl-min) {
    .flex__first\@xl {
        order: -1;
    }
    .flex__last\@xl {
        order: 99;
    }
}

/* xxl */
@media (--xxl-min) {
    .flex__first\@xxl {
        order: -1;
    }
    .flex__last\@xxl {
        order: 99;
    }
}

/* Item dimensions
 ========================================================================== */

/*
 * Initial: 0 1 auto
 * Content dimensions, but shrinks
 */

/*
 * No Flex: 0 0 auto
 * Content dimensions
 */

.flex__none {
    flex: none;
}

/*
 * Relative Flex: 1 1 auto
 * Space is allocated considering content
 */

.flex__auto {
    flex: auto;
}

/*
 * Absolute Flex: 1 1 0%
 * Space is allocated solely based on flex
 */

.flex__1 {
    flex: 1;
}
