/* Variagbles */
.grid__auto {
    --auto-grid-min-size: 10rem;
    --auto-grid-max-size: 1fr;
    --auto-grid-gap: 1rem;
}

.grid__auto {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(var(--auto-grid-min-size), var(--auto-grid-max-size))
    );
    grid-gap: var(--auto-grid-gap);
}
