/* Variables 
========================================================================*/

:root {
    --position-small: var(--global-margin-small);
    --position-medium: var(--global-margin-medium);
    --position-large: var(--global-margin-large);
}

/* ========================================================================
   Component: Position
 ========================================================================== */

/* Directions
 ========================================================================== */

[class*='position__top'],
[class*='position__bottom'],
[class*='position__left'],
[class*='position__right'],
[class*='position__center'] {
    position: absolute !important;
}

/* Edges
 ========================================================================== */

/* Don't use `width: 100%` because it is wrong if the parent has padding. */
.position__top {
    top: 0;
    left: 0;
    right: 0;
}

.position__bottom {
    bottom: 0;
    left: 0;
    right: 0;
}

.position__left {
    top: 0;
    bottom: 0;
    left: 0;
}

.position__right {
    top: 0;
    bottom: 0;
    right: 0;
}

/* Corners
 ========================================================================== */

.position__top__left {
    top: 0;
    left: 0;
}

.position__top__right {
    top: 0;
    right: 0;
}

.position__bottom__left {
    bottom: 0;
    left: 0;
}

.position__bottom__right {
    bottom: 0;
    right: 0;
}

/*
 * Center
 * 1. Fix text wrapping if content is larger than 50% of the container.
 */

.position__center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 1 */
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
}

/* Vertical */
[class*='position__center__left'],
[class*='position__center__right'] {
    top: 50%;
    transform: translateY(-50%);
}

.position__center__left {
    left: 0;
}
.position__center__right {
    right: 0;
}

.position__center__left__out {
    right: 100%;
    width: max-content;
}

.position__center__right__out {
    left: 100%;
    width: max-content;
}

/* Horizontal */
.position__top__center,
.position__bottom__center {
    left: 50%;
    transform: translateX(-50%);
    /* 1 */
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;
}

.position__top__center {
    top: 0;
}
.position__bottom__center {
    bottom: 0;
}

/* Cover
 ========================================================================== */

.position__cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Utility
 ========================================================================== */

.position__relative {
    position: relative !important;
}

.position__absolute {
    position: absolute !important;
}

.position__fixed {
    position: fixed !important;
}

.position__z-index {
    z-index: 1;
}

/* Margin modifier
 ========================================================================== */

/*
 * Small
 */

.position__small {
    max-width: calc(100% - (var(--position-small) * 2));
    margin: var(--position-small);
}

.position__small.position__center {
    transform: translate(-50%, -50%)
        translate(
            calc(var(--position-small) * -1),
            calc(var(--position-small) * -1)
        );
}

.position__small[class*='position__center__left'],
.position__small[class*='position__center__right'] {
    transform: translateY(-50%) translateY(calc(var(--position-small) * -1));
}

.position__small.position__top__center,
.position__small.position__bottom__center {
    transform: translateX(-50%) translateX(calc(var(--position-small) * -1));
}

/*
 * Medium
 */

.position__medium {
    max-width: calc(100% - (var(--position-medium) * 2));
    margin: var(--position-medium);
}

.position__medium.position__center {
    transform: translate(-50%, -50%)
        translate(
            calc(var(--position-medium) * -1),
            calc(var(--position-medium) * -1)
        );
}

.position__medium[class*='position__center__left'],
.position__medium[class*='position__center__right'] {
    transform: translateY(-50%) translateY(calc(var(--position-medium) * -1));
}

.position__medium.position__top__center,
.position__medium.position__bottom__center {
    transform: translateX(-50%) translateX(calc(var(--position-medium) * -1));
}

/*
 * Large
 */

.position__large {
    max-width: calc(100% - (var(--position-large) * 2));
    margin: var(--position-large);
}

.position__large.position__center {
    transform: translate(-50%, -50%)
        translate(
            calc(var(--position-large) * -1),
            calc(var(--position-large) * -1)
        );
}

.position__large[class*='position__center__left'],
.position__large[class*='position__center__right'] {
    transform: translateY(-50%) translateY(calc(var(--position-large) * -1));
}

.position__large.position__top__center,
.position__large.position__bottom__center {
    transform: translateX(-50%) translateX(calc(var(--position-large) * -1));
}
