/* Variables */
.section {
    --section-padding-vertical: var(--global-margin-medium);
    --section-padding-vertical-m: var(--global-margin-large);
}

.section {
    box-sizing: border-box;
    padding: var(--section-padding-vertical) 0;
}

@media (--m-min) {
    .section {
        padding: var(--section-padding-vertical-m) 0;
    }
}
