/* Hidden */
/* ================================================================ */

[hidden],
.hidden {
    display: none !important;
}

/* xs */
@media (--xs-min) {
    .hidden\@xs {
        display: none !important;
    }
}

/* s */
@media (--s-min) {
    .hidden\@s {
        display: none !important;
    }
}

/* m */
@media (--m-min) {
    .hidden\@m {
        display: none !important;
    }
}

/* l */
@media (--l-min) {
    .hidden\@l {
        display: none !important;
    }
}

/* xl */
@media (--xl-min) {
    .hidden\@xl {
        display: none !important;
    }
}

/* xxl */
@media (--xxl-min) {
    .hidden\@xxl {
        display: none !important;
    }
}

/* Visible */
/* ================================================================ */

/* xs */
@media (--xs-max) {
    .visible\@xs {
        display: none !important;
    }
}

/* s */
@media (--s-max) {
    .visible\@s {
        display: none !important;
    }
}

/* m */
@media (--m-max) {
    .visible\@m {
        display: none !important;
    }
}

/* l */
@media (--l-max) {
    .visible\@l {
        display: none !important;
    }
}

/* xl */
@media (--xl-max) {
    .visible\@xl {
        display: none !important;
    }
}

/* xxl */
@media (--xxl-max) {
    .visible\@xxl {
        display: none !important;
    }
}
