/* Variables
======================================================================== */

:root {
    --width-small: 150px;
    --width-medium: 300px;
    --width-large: 450px;
    --width-xlarge: 600px;
    --width-xxlarge: 750px;
}

/* ========================================================================
   Component: Width
 ========================================================================== */

/* Single Widths
 ========================================================================== */

/*
 * 1. `max-width` is needed for the pixel-based classes
 */

[class*='width'] {
    box-sizing: border-box;
    width: 100%;
    /* 1 */
    max-width: 100%;
}

/* Halves */
.width__1-1 {
    width: 100%;
}

/* Halves */
.width__1-2 {
    width: 50%;
}

/* Thirds */
.width__1-3 {
    width: calc(100% * 1 / 3.001);
}
.width__2-3 {
    width: calc(100% * 2 / 3.001);
}

/* Quarters */
.width__1-4 {
    width: 25%;
}
.width__3-4 {
    width: 75%;
}

/* Fifths */
.width__1-5 {
    width: 20%;
}
.width__2-5 {
    width: 40%;
}
.width__3-5 {
    width: 60%;
}
.width__4-5 {
    width: 80%;
}

/* Sixths */
.width__1-6 {
    width: calc(100% * 1 / 6.001);
}
.width__5-6 {
    width: calc(100% * 5 / 6.001);
}

/* Pixel */
.width__small {
    width: var(--width-small);
}
.width__medium {
    width: var(--width-medium);
}
.width__large {
    width: var(--width-large);
}
.width__xlarge {
    width: var(--width-xlarge);
}
.width__xxlarge {
    width: var(--width-xxlarge);
}

/* Auto */
.width__auto {
    width: auto;
}

/* Expand */
.width__expand {
    flex: 1;
    min-width: 1px;
}

/* xs */
@media (--xs-min) {
    /* Whole */
    .width__1-1\@xs {
        width: 100%;
    }

    /* Halves */
    .width__1-2\@xs {
        width: 50%;
    }

    /* Thirds */
    .width__1-3\@xs {
        width: calc(100% * 1 / 3.001);
    }
    .width__2-3\@xs {
        width: calc(100% * 2 / 3.001);
    }

    /* Quarters */
    .width__1-4\@xs {
        width: 25%;
    }
    .width__3-4\@xs {
        width: 75%;
    }

    /* Fifths */
    .width__1-5\@xs {
        width: 20%;
    }
    .width__2-5\@xs {
        width: 40%;
    }
    .width__3-5\@xs {
        width: 60%;
    }
    .width__4-5\@xs {
        width: 80%;
    }

    /* Sixths */
    .width__1-6\@xs {
        width: calc(100% * 1 / 6.001);
    }
    .width__5-6\@xs {
        width: calc(100% * 5 / 6.001);
    }

    /* Pixel */
    .width__small\@xs {
        width: var(--width-small);
    }
    .width__medium\@xs {
        width: var(--width-medium);
    }
    .width__large\@xs {
        width: var(--width-large);
    }
    .width__xlarge\@xs {
        width: var(--width-xlarge);
    }
    .width__xxlarge\@xs {
        width: var(--width-xxlarge);
    }

    /* Auto */
    .width__auto\@xs {
        width: auto;
    }

    /* Expand */
    .width__expand\@xs {
        flex: 1;
        min-width: 1px;
    }
}

/* s */
@media (--s-min) {
    /* Whole */
    .width__1-1\@s {
        width: 100%;
    }

    /* Halves */
    .width__1-2\@s {
        width: 50%;
    }

    /* Thirds */
    .width__1-3\@s {
        width: calc(100% * 1 / 3.001);
    }
    .width__2-3\@s {
        width: calc(100% * 2 / 3.001);
    }

    /* Quarters */
    .width__1-4\@s {
        width: 25%;
    }
    .width__3-4\@s {
        width: 75%;
    }

    /* Fifths */
    .width__1-5\@s {
        width: 20%;
    }
    .width__2-5\@s {
        width: 40%;
    }
    .width__3-5\@s {
        width: 60%;
    }
    .width__4-5\@s {
        width: 80%;
    }

    /* Sixths */
    .width__1-6\@s {
        width: calc(100% * 1 / 6.001);
    }
    .width__5-6\@s {
        width: calc(100% * 5 / 6.001);
    }

    /* Pixel */
    .width__small\@s {
        width: var(--width-small);
    }
    .width__medium\@s {
        width: var(--width-medium);
    }
    .width__large\@s {
        width: var(--width-large);
    }
    .width__xlarge\@s {
        width: var(--width-xlarge);
    }
    .width__xxlarge\@s {
        width: var(--width-xxlarge);
    }

    /* Auto */
    .width__auto\@s {
        width: auto;
    }

    /* Expand */
    .width__expand\@s {
        flex: 1;
        min-width: 1px;
    }
}

/* m */
@media (--m-min) {
    /* Whole */
    .width__1-1\@m {
        width: 100%;
    }

    /* Halves */
    .width__1-2\@m {
        width: 50%;
    }

    /* Thirds */
    .width__1-3\@m {
        width: calc(100% * 1 / 3.001);
    }
    .width__2-3\@m {
        width: calc(100% * 2 / 3.001);
    }

    /* Quarters */
    .width__1-4\@m {
        width: 25%;
    }
    .width__3-4\@m {
        width: 75%;
    }

    /* Fifths */
    .width__1-5\@m {
        width: 20%;
    }
    .width__2-5\@m {
        width: 40%;
    }
    .width__3-5\@m {
        width: 60%;
    }
    .width__4-5\@m {
        width: 80%;
    }

    /* Sixths */
    .width__1-6\@m {
        width: calc(100% * 1 / 6.001);
    }
    .width__5-6\@m {
        width: calc(100% * 5 / 6.001);
    }

    /* Pixel */
    .width__small\@m {
        width: var(--width-small);
    }
    .width__medium\@m {
        width: var(--width-medium);
    }
    .width__large\@m {
        width: var(--width-large);
    }
    .width__xlarge\@m {
        width: var(--width-xlarge);
    }
    .width__xxlarge\@m {
        width: var(--width-xxlarge);
    }

    /* Auto */
    .width__auto\@m {
        width: auto;
    }

    /* Expand */
    .width__expand\@m {
        flex: 1;
        min-width: 1px;
    }
}

/* l */
@media (--l-min) {
    /* Whole */
    .width__1-1\@l {
        width: 100%;
    }

    /* Halves */
    .width__1-2\@l {
        width: 50%;
    }

    /* Thirds */
    .width__1-3\@l {
        width: calc(100% * 1 / 3.001);
    }
    .width__2-3\@l {
        width: calc(100% * 2 / 3.001);
    }

    /* Quarters */
    .width__1-4\@l {
        width: 25%;
    }
    .width__3-4\@l {
        width: 75%;
    }

    /* Fifths */
    .width__1-5\@l {
        width: 20%;
    }
    .width__2-5\@l {
        width: 40%;
    }
    .width__3-5\@l {
        width: 60%;
    }
    .width__4-5\@l {
        width: 80%;
    }

    /* Sixths */
    .width__1-6\@l {
        width: calc(100% * 1 / 6.001);
    }
    .width__5-6\@l {
        width: calc(100% * 5 / 6.001);
    }

    /* Pixel */
    .width__small\@l {
        width: var(--width-small);
    }
    .width__medium\@l {
        width: var(--width-medium);
    }
    .width__large\@l {
        width: var(--width-large);
    }
    .width__xlarge\@l {
        width: var(--width-xlarge);
    }
    .width__xxlarge\@l {
        width: var(--width-xxlarge);
    }

    /* Auto */
    .width__auto\@l {
        width: auto;
    }

    /* Expand */
    .width__expand\@l {
        flex: 1;
        min-width: 1px;
    }
}

/* xl */
@media (--xl-min) {
    /* Whole */
    .width__1-1\@xl {
        width: 100%;
    }

    /* Halves */
    .width__1-2\@xl {
        width: 50%;
    }

    /* Thirds */
    .width__1-3\@xl {
        width: calc(100% * 1 / 3.001);
    }
    .width__2-3\@xl {
        width: calc(100% * 2 / 3.001);
    }

    /* Quarters */
    .width__1-4\@xl {
        width: 25%;
    }
    .width__3-4\@xl {
        width: 75%;
    }

    /* Fifths */
    .width__1-5\@xl {
        width: 20%;
    }
    .width__2-5\@xl {
        width: 40%;
    }
    .width__3-5\@xl {
        width: 60%;
    }
    .width__4-5\@xl {
        width: 80%;
    }

    /* Sixths */
    .width__1-6\@xl {
        width: calc(100% * 1 / 6.001);
    }
    .width__5-6\@xl {
        width: calc(100% * 5 / 6.001);
    }

    /* Pixel */
    .width__small\@xl {
        width: var(--width-small);
    }
    .width__medium\@xl {
        width: var(--width-medium);
    }
    .width__large\@xl {
        width: var(--width-large);
    }
    .width__xlarge\@xl {
        width: var(--width-xlarge);
    }
    .width__xxlarge\@xl {
        width: var(--width-xxlarge);
    }

    /* Auto */
    .width__auto\@xl {
        width: auto;
    }

    /* Expand */
    .width__expand\@xl {
        flex: 1;
        min-width: 1px;
    }
}

/* xxl */
@media (--xxl-min) {
    /* Whole */
    .width__1-1\@xxl {
        width: 100%;
    }

    /* Halves */
    .width__1-2\@xxl {
        width: 50%;
    }

    /* Thirds */
    .width__1-3\@xxl {
        width: calc(100% * 1 / 3.001);
    }
    .width__2-3\@xxl {
        width: calc(100% * 2 / 3.001);
    }

    /* Quarters */
    .width__1-4\@xxl {
        width: 25%;
    }
    .width__3-4\@xxl {
        width: 75%;
    }

    /* Fifths */
    .width__1-5\@xxl {
        width: 20%;
    }
    .width__2-5\@xxl {
        width: 40%;
    }
    .width__3-5\@xxl {
        width: 60%;
    }
    .width__4-5\@xxl {
        width: 80%;
    }

    /* Sixths */
    .width__1-6\@xxl {
        width: calc(100% * 1 / 6.001);
    }
    .width__5-6\@xxl {
        width: calc(100% * 5 / 6.001);
    }

    /* Pixel */
    .width__small\@xxl {
        width: var(--width-small);
    }
    .width__medium\@xxl {
        width: var(--width-medium);
    }
    .width__large\@xxl {
        width: var(--width-large);
    }
    .width__xlarge\@xxl {
        width: var(--width-xlarge);
    }
    .width__xxlarge\@xxl {
        width: var(--width-xxlarge);
    }

    /* Auto */
    .width__auto\@xxl {
        width: auto;
    }

    /* Expand */
    .width__expand\@xxl {
        flex: 1;
        min-width: 1px;
    }
}
