<template>
    <div>
        <h1 class="h1">Edit book</h1>
        <book-form :book="book" @submit-form="editBook">
            <button type="submit" class="button button__primary margin__right">
                Save book
            </button>
            <router-link to="/" class="button">Cancel</router-link>
        </book-form>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'Edit',
    components: {
        BookForm: () => import('@/components/BookForm')
    },
    computed: {
        ...mapGetters(['getBookById']),
        book() {
            return this.getBookById(this.$route.params.id)
        }
    },
    methods: {
        ...mapActions(['editBook'])
    }
}
</script>
