<template>
    <div>
        <h1 class="h1">Add new book</h1>

        <book-form @submit-form="addBook">
            <button type="submit" class="button button__primary margin__right">
                Save book
            </button>
            <router-link to="/" class="button">Cancel</router-link>
        </book-form>
    </div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    name: 'Add',
    components: {
        BookForm: () => import('@/components/BookForm')
    },
    methods: {
        ...mapActions(['addBook'])
    }
}
</script>
