<template>
    <div>
        <h1 class="h1">Books</h1>
        <div class="margin"></div>

        <div class="grid__auto">
            <div class="card">
                <router-link to="/add" class="position__cover"
                    ><span class="h1 position__center">+</span></router-link
                >
            </div>

            <div
                v-for="book in books"
                :key="book.id"
                class="card flex flex__column"
            >
                <div
                    class="card__media background__cover"
                    :style="{
                        backgroundImage: `url(${book.image})`
                    }"
                ></div>

                <div class="card__body flex__1 flex flex__column flex__between">
                    <h2 class="h5">
                        {{ book.name }}
                    </h2>
                    <base-list class="margin__remove">
                        <li>Author: {{ book.author }}</li>
                        <li>Published: {{ book.year }}</li>
                    </base-list>
                </div>
                <div
                    class="card__footer flex flex__between padding__remove__top"
                >
                    <button class="button" @click.prevent="deleteBook(book.id)">
                        Delete
                    </button>
                    <router-link
                        :to="`/edit/${book.id}`"
                        class="button button__primary"
                        >Edit</router-link
                    >
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
    name: 'Index',
    components: {
        BaseList: () => import('@/components/BaseList')
    },
    computed: {
        ...mapGetters({
            books: 'getBooks'
        })
    },
    methods: {
        ...mapActions(['deleteBook'])
    }
}
</script>
<style lang="css" scoped>
.grid__auto {
    --auto-grid-min-size: 200px;
    --auto-grid-gap: var(--global-padding);

    grid-auto-rows: 1fr;
}

.card {
    position: relative;
    box-sizing: border-box;
    background-color: var(--global-background-muted);
    height: 100%;
    border-radius: var(--global-border-radius);
    overflow: hidden;
    transition: box-shadow 0.3s;
}

.card:hover {
    box-shadow: var(--global-box-shadow);
}

.card__body {
    padding: var(--global-padding);
}

.card__title {
    font-size: 1.2rem;
}

.card__footer {
    padding: var(--global-padding);
}

.card__media {
    height: 300px;
}

@media (--s-max) {
    .grid__auto {
        --auto-grid-min-size: 170px;
    }
}
</style>
