<template>
    <base-form @form-submit="submitForm(book)">
        <!-- Name -->
        <div>
            <label for="name">Name</label>
            <div>
                <input
                    id="name"
                    v-model="book.name"
                    type="text"
                    name="name"
                    placeholder="Name"
                    class="input"
                    required
                />
            </div>
        </div>

        <!-- Author -->
        <div>
            <label for="author">Author</label>
            <div>
                <input
                    id="author"
                    v-model="book.author"
                    type="text"
                    name="author"
                    placeholder="Author"
                    class="input"
                    required
                />
            </div>
        </div>

        <!-- Year -->
        <div class="width__small">
            <label for="year">Year</label>
            <div>
                <input
                    id="year"
                    v-model="book.year"
                    type="number"
                    name="year"
                    placeholder="Year"
                    class="input"
                    min="1900"
                    :max="nowYear"
                    step="1"
                    required
                />
            </div>
        </div>

        <!-- Image -->
        <div>
            <label for="image">Image</label>
            <div>
                <input
                    id="image"
                    v-model="book.image"
                    type="url"
                    name="image"
                    placeholder="Image"
                    class="input"
                    required
                />
            </div>
        </div>

        <!-- Controlls -->
        <div class="margin__medium">
            <slot></slot>
        </div>
    </base-form>
</template>

<script>
export default {
    name: 'BookForm',
    components: {
        BaseForm: () => import('@/components/BaseForm')
    },
    props: {
        book: {
            type: Object,
            default: () => {
                return {
                    name: '',
                    author: '',
                    year: '1955',
                    image: ''
                }
            }
        }
    },
    computed: {
        nowYear() {
            const dateNow = new Date()
            return dateNow.getFullYear()
        }
    },
    methods: {
        submitForm(book) {
            this.$emit('submit-form', book)
        }
    }
}
</script>
