<template>
    <main id="app">
        <section class="section">
            <div class="container">
                <router-view></router-view>
            </div>
        </section>
    </main>
</template>

<script>
export default {
    name: 'App'
}
</script>

<style></style>
