<template>
    <form class="form" @submit.prevent="formSubmit">
        <slot></slot>
    </form>
</template>

<script>
export default {
    name: 'BaseForm',
    methods: {
        formSubmit(e) {
            this.$emit('form-submit', e)
        }
    }
}
</script>

<style lang="css" scoped>
/* Variables */
.form {
    /* Font */
    --input-font-size: var(--global-font-size);
    --input-font-weight: 400;
    --input-color: var(--global-color);
    --input-placeholder-color: var(--global-color-muted);

    /* Sizes */
    --input-padding: calc(var(--global-padding) / 2);
    --input-height: 40px;

    /* Border */
    --input-border: var(--global-border);
    --input-border-color: var(--global-border-color);
    --input-border-color-hover: #adadad;
    --input-border-color-focus: var(--global-background-primary);
    --input-border-radius: var(--global-border-radius);

    /* Shadow */
    --input-box-shadow: var(--global-box-shadow);

    /* Checkbox and Radio */
    --input-background: var(--global-background-primary);
}

.form > *:not(:last-child) {
    margin-bottom: var(--global-margin);
}

.form__label {
    display: inline-block;
    margin-bottom: calc(var(--global-margin) / 2);
}

.input,
.select,
.textarea {
    box-sizing: border-box;
    border: var(--input-border) var(--input-border-color) solid;
    border-radius: var(--input-border-radius);
    color: var(--input-color);
    font-size: var(--input-font-size);
    padding: 0 var(--input-padding);
    width: 100%;
    max-width: 100%;
    transition: 0.3s ease;
    transition-property: border, color, box-shadow;
}

.input,
.select:not([multiple]):not([size]) {
    height: var(--input-height);
    vertical-align: middle;
    display: inline-block;
}

.select[multiple],
.select[size],
.textarea {
    padding-top: var(--input-padding);
    padding-bottom: var(--input-padding);
    vertical-align: top;
}

.input:hover,
.textarea:hover,
.select:hover {
    border-color: var(--input-border-color-hover);
}

.input:focus,
.textarea:focus,
.select:focus {
    border-color: var(--input-border-color-focus);
    box-shadow: var(--input-box-shadow);
    outline: none;
}

.input[type='color'] {
    padding: 5px;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
    color: var(--input-placeholder-color);
}

.input:-moz-placeholder,
.textarea:-moz-placeholder {
    color: var(--input-placeholder-color);
    font-weight: var(--input-font-weight);
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
    color: var(--input-placeholder-color);
    font-weight: var(--input-font-weight);
}

.input:-ms-input-placeholder,
.textarea:-ms-input-placeholder {
    color: var(--input-placeholder-color);
    font-weight: var(--input-font-weight);
}

.input::placeholder,
.textarea::placeholder {
    color: var(--input-placeholder-color);
    font-weight: var(--input-font-weight);
}

.textarea {
    overflow: auto;
    resize: vertical;
}

/* CheckBox and Radio */
.checkbox,
.radio {
    box-sizing: border-box;
    margin: 0;
    border-radius: 0;
    font: inherit;
}

.checkbox:not(:disabled),
.radio:not(:disabled) {
    cursor: pointer;
}

.checkbox,
.radio {
    width: 16px;
    height: 16px;
    margin-top: -2px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    background-color: transparent;
    background-repeat: no-repeat;
    border-color: var(--input-border-color);
    border-width: 1px;
    border-style: solid;
    background-position: 50% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: 0.2s ease-in-out;
    transition-property: background-color, border;
}

.checkbox:checked {
    background-image: url('/assets/icons/form-checkbox.svg');
    background-color: var(--input-background);
}

.radio {
    border-radius: 1em;
}

.radio:checked {
    background-image: url('/assets/icons/form-radio.svg');
    background-color: var(--input-background);
}

/* Focus */
.checkbox:focus,
.radio:focus {
    outline: none;
    border-color: var(--input-border-color-focus);
}
</style>
